modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Start"

[[workflows.workflow]]
name = "Start"
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx prisma migrate deploy"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run build && npm start"

[deployment]
run = ["sh", "-c", "npm install && npx prisma migrate deploy && npm run build && npm start"]

[[ports]]
localPort = 3000
externalPort = 80
